
.myModal {
    position: fixed;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 4px;
    padding: 1%;
    
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }


.catalogButton {
  width: 100%;
}

.addNodeButton {
  width: 100%;
}

.columnContainer {
  margin-bottom: 0px;
}

.modalHeading {
  font-size: larger;
  font-weight: bold;
}

.modalCrossButton {
  float: right;
  background-color: white;
  border: none;
}

.modalCrossButton svg {
  width: 80%;
  height: 80%;
}

.modalCol {
  margin: 5px;
  margin-bottom: 10px;
}

span {
  font-weight: bold;
  font-size: 14px;
  width: 100%;
}

.modalMidLine {
  margin: 0px;
}

.modalTopLine {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modalBottomLine {
  margin-top: 0px;
  margin-bottom: 5px;
}

.modalCatalog {
  width: 100%;
  margin-top: 6px;
}

select {
  color: #c8c3bb;
  border-color: silver;
  border-radius: 5px;
  height: 24px;
}

h4 {
  margin-bottom: 1px;
  font-size: 14px;
  font-weight: bold;
  color: #d6d2cc;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.catalogButton {
  background-color: #41b05c;
  border-width: 1px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
  height: 36px;
  width: 100%;
}

.nodeButton {
  background-color: #45235e;
  border-width: 1px;
  margin-top: 6px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 6px;
  height: 36px;
  width: 100%;
}
